:root {
  /*pseudoelementos para crear variables personalizadas tambien conocidos como custom properties*/
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #4682b4;
  --secundario: rgba(255, 193, 7, 1);
  --gris: #757575;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-family: "Krub", sans-serif; /*colocarlo aca para que aplique a todo*/
}
/*1 rem = 10px*/

.titulo {
  /*no iniciar con numeros un class*/
  text-align: center;
  font-size: 3.8rem;
  color: var(--primario);
  font-family: "Times New Roman", Times, serif; /*fuentes seguras*/
}
.titulo span {
  font-size: 2rem;
  color: var(--secundario);
}

.contenedor {
  max-width: 120rem;
  margin-top: 0rem;
  margin-right: auto;
  margin-bottom: 0rem;
  margin-left: auto;
  /*margin: 0 auto 0 auto;    */
  /* margin: 0 auto   */
}

.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal {
  display: flex;
  flex-direction: column; /*Por defecto es row*/
  /*align-items: center; el justify de columns*/
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1140px) {
}

@media (min-width: 1400px) {
}

.navegacion-principal a {
  /*background-color: var(--primario);
  display: inline;*/
  display: block;
  text-align: center;
  padding: 1rem;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}

.hero {
  background-image: url(../imagenes/devwebpage.png);
  background-repeat: no-repeat;
  background-size: cover;
}
